##############################
## Java
##############################
.mtj.tmp/
*.class
*.war
*.ear
*.nar
hs_err_pid*

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.ipr
*.iws

##############################
## Maven
##############################
log/
target/

